<div class="banner">
    <div class="container">
        <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-7">
                <li><a href="#home" class="scroll">Home</a></li>
                <li><a href="#stories" class="scroll">Stories</a></li>
                {{#if displayName }}
                    <li>{{ displayName }}</li>
                {{/if}}
                <div class="clearfix"> </div>
            </ul>
        </div>
        <script>
            $( "span.menu" ).click(function() {
                $( ".head-nav ul" ).slideToggle(300, function() {});
            });
        </script>

        <div class="banner-info">

            <div class="logo">
                <h1><a href="index.html">{{ story.displayName }}'s story</a></h1>
            </div>
            <h5>Tell your stories with gifs<img src="/assets/img/partyparrot.gif" alt="" /></h5>
        </div>
        <script src="/assets/js/start.js"></script>
        <button onClick="recordStart()" type="button" href="/auth/facebook"  class="btn btn-primary" name="button">Start recording your story!!</button>
        <div class="scroll">
            <a href="#contact" class="scroll"><img src="/assets/img/down.png" class="img-responsive" alt="" /></a>
        </div>
    </div>
</div>
