h4, h5, h6,
h1, h2, h3 {
    margin-top: 0;
}
ul, ol {
    margin: 0;
}
p {
    margin: 0;
}
html,body{
  a{
    transition:0.5s all;
  	-webkit-transition:0.5s all;
  	-moz-transition:0.5s all;
  	-o-transition:0.5s all;
  	-ms-transition:0.5s all;
  }
}
@font-face{
    font-family: FredokaOne-Regular;
    src: url(../fonts/FredokaOne-Regular.ttf) format('truetype');
}
.logo {
    margin: 0 auto;
    padding: 0 0 3em;
    h1 {
        color: #000;
        font-size: 8em;
        margin: 0;
        font-family: FredokaOne-Regular;
        a{
        	text-decoration:none;
        	color: #000;
        }
    }
}
.banner{
	background: #f9fc63; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9fc63 7%, #d6f979 23%, #a9f794 43%, #59f0c7 60%, #18ecef 100%, #7db9e8 100%, #04e9fc 100%, #3cedd9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#f9fc63), color-stop(23%,#d6f979), color-stop(43%,#a9f794), color-stop(60%,#59f0c7), color-stop(100%,#18ecef), color-stop(100%,#7db9e8), color-stop(100%,#04e9fc), color-stop(100%,#3cedd9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9fc63 7%,#d6f979 23%,#a9f794 43%,#59f0c7 60%,#18ecef 100%,#7db9e8 100%,#04e9fc 100%,#3cedd9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9fc63 7%,#d6f979 23%,#a9f794 43%,#59f0c7 60%,#18ecef 100%,#7db9e8 100%,#04e9fc 100%,#3cedd9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9fc63 7%,#d6f979 23%,#a9f794 43%,#59f0c7 60%,#18ecef 100%,#7db9e8 100%,#04e9fc 100%,#3cedd9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9fc63 7%,#d6f979 23%,#a9f794 43%,#59f0c7 60%,#18ecef 100%,#7db9e8 100%,#04e9fc 100%,#3cedd9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fc63', endColorstr='#3cedd9',GradientType=0 ); /* IE6-9 */
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height:720px;
	text-align:center;
}
.head-nav ul li a{
	position: relative;
	display: inline-block;
	margin: 0px 46px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.2em;
	font-weight: 700;
	font-family: FredokaOne-Regular;
}
.head-nav a:hover,
.head-nav a:focus {
	outline: none;
}
.head-nav {
	padding: 3em 0em 0;
}
.head-nav ul{
	padding:0;
	margin: 0;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.head-nav ul li {
	display: inline-block;
	margin: 0 .5em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
}
.head-nav ul li a{
	color: #010200;
}
ul a:hover,
ul a:focus {
	outline: none;
	color: #010200;
	text-decoration: none;
}
